<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Approve Info</title>
  <style type="text/css">
	.user_table {border-bottom:1px solid #DEEDF8;border-left:1px solid #DEEDF8;}
	.user_table td{border-right:1px solid #DEEDF8;border-top:1px solid #DEEDF8;}
	.user_photo p {background:url(images/photo/photo.jpg) no-repeat left top;}
	.td_title {background:#F5FBFE;color:#276FA4;font:12px/20px arial,sans-serif;}
	.th_title {border-right:1px solid #DEEDF8;background:#F5FBFE;color:#276FA4;}
	.td_type {color:#333;font:12px/20px arial,sans-serif;}
	.user_table td.td_title {text-align:center;}
	.tablea th {background:url(./images/grid/tableth.png) repeat-x scroll 0 0 #F0EFF0;}
</style>
 </head>
 <body>
   <div style="width:800px;">
   		
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td style="font:bold 14px/18px arial,sans-serif;text-align:left">
							Quick Link：ESS->MyHome-></font><font size="color="blue""><a style="text-decoration:none;" href="http://{MAIL_LOGIN_HOST}?reqSysType=Partner&reqCpny=HTSV&role=MyHome&reqLanguage={MAIL_LANGUAGE}&emp_number=[MAIL_LOGIN_EMPID]">Approval Box
							</a><br>
								 Xin chào: Mời bạn nhanh chóng hoàn thành phê duyệt tăng ca, chậm nhất là 12:00 của ngày làm việc tiếp theo, qua 12:00 chưa phê duyệt hệ thống sẽ tự động từ chối.<br>
								 안녕하세요. 빠른 시간 안에 잔업 결재를 완료해 주시기 바랍니다. 늦어도 익일 근무일 점심 12:00까지 결재바라며 미결재시 자동 반려 처리됩니다.
								<br>
								</td>
							</tr>
						</table>
						<table class="user_table"  width="60%" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;">
							<tr>
								<td class="td_title" style="text-align: center;width:10%;"><!-- 决裁等级 -->
									No
								</td>
								<td class="td_title" style="text-align: center;width:60%;"><!-- 决裁等级 -->
									Department
								</td>
								<td class="td_title" style="text-align: center;width:30%;"><!-- 决裁者 -->
									Employee Num
								</td>
							</tr>
							[AFFIRM_CONTENT_OT]
						</table>
						
						
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td style="font:bold 14px/18px arial,sans-serif;text-align:left">
								Xin chào: Mời bạn nhanh chóng hoàn thành phê duyệt chấm công, chậm nhất là 12:00 của ngày làm việc tiếp theo, qua 12:00 chưa phê duyệt hệ thống sẽ tự động từ chối.<br>
								안녕하세요. 빠른 시간 안에 근태관련 결재를 완료해 주시기 바랍니다. 늦어도 익일 근무일 점심 12:00까지 결재바라며 미결재시 자동 반려 처리됩니다.
								<br>
								</td>
							</tr>
						</table>
						<table class="user_table"  width="60%" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;">
							<tr>
								<td class="td_title" style="text-align: center;width:10%;"><!-- 决裁等级 -->
									No
								</td>
								<td class="td_title" style="text-align: center;width:60%;"><!-- 决裁等级 -->
									Department
								</td>
								<td class="td_title" style="text-align: center;width:30%;"><!-- 决裁者 -->
									Employee Num
								</td>
							</tr>
							[AFFIRM_CONTENT_ATT]
						</table>
						
						<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;">
							<tr>
								<td style="font:bold 14px/18px arial,sans-serif;text-align:left">
									Dưới đây là tình hình tăng ca của nhân viên phòng ban trong tháng, xin quản lý tăng ca hợp lý dựa theo quy định pháp luật và chế độ của công ty.<br>
									하기 내용은 금월 부서 잔업현황입니다. 회사규정에 따라 엄격하게 잔업을 관리해 주시기 바랍니다.
								</td>
							</tr>
						</table>
						<table class="user_table"  width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:15px;">
							<tr>
								<td class="td_title" style="text-align: center;width:5%;"><!-- 决裁等级 -->
									No
								</td>
								<td class="td_title" style="text-align: center;width:30%;"><!-- 决裁等级 -->
									Department
								</td>
								<td class="td_title" style="text-align: center;width:20%;"><!-- 决裁者 -->
									Employee Num Of Department
								</td>
								<td class="td_title" style="text-align: center;width:20%;"><!-- 决裁者 -->
									Average Num Of Department
								</td>
								<td class="td_title" style="text-align: center;width:5%;"><!-- 决裁者 -->
									≤20h
								</td>
								<td class="td_title" style="text-align: center;width:12%;"><!-- 决裁者 -->
									20h＜Monthly≤30h
								</td>
							</tr>
							[AFFIRM_CONTENT_OT_TOTAL]
						</table>
   </div>
 </body>
</html>
