<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Approve Info</title>
  <style type="text/css">
	.user_table {border-bottom:1px solid #DEEDF8;border-left:1px solid #DEEDF8;}
	.user_table td{border-right:1px solid #DEEDF8;border-top:1px solid #DEEDF8;}
	.user_photo p {background:url(images/photo/photo.jpg) no-repeat left top;}
	.td_title {background:#F5FBFE;color:#276FA4;font:12px/20px;}
	.th_title {border-right:1px solid #DEEDF8;background:#F5FBFE;color:#276FA4;}
	.td_type {color:#333;font:12px/20px;}
	.user_table td.td_title {text-align:center;}
	.tablea th {background:url(./images/grid/tableth.png) repeat-x scroll 0 0 #F0EFF0;}
	.thisPageStyle_pa0131 {background-image:url("resources/css/dwzUI/themes/partner/images/li_prent.jpg");
						   background-repeat: no-repeat;
						   background-position:left center;
		                   position: relative;
					       bottom: 3px;}
	@page{size:210mm 297mm;}
</style>
 </head>
 <body>
   <div style="width:680px;height: 1010px;text-align:left;overflow:hidden;font-family:Times New Roman,Arial,SimSun;">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
							    <td width="25%">
								  <img src='resources/images/logo.jpg'></img>
								</td>
								<td style="font-size: 20px; text-align: center;" width="40%">
									PHIẾU LƯƠNG<br></br>[PAY_DATE]</td>
								<td width="25%"></td>
							</tr>
						</table>
						<h4 class="thisPageStyle_pa0131" style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat">
							&nbsp;&nbsp;Thông tin Cơ bản</h4>
					    <table class="user_table" width="100%" style="margin-top:-20px">
							<tr>
								<td class="td_title">Họ tên</td>
								<td class="td_type" style="text-align: center;">[Name]</td>
								<td class="td_title" >Mã nhân viên</td>
								<td class="td_type" style="text-align: center;">[Employee No]</td>
								<td class="td_title">Phòng ban</td>
								<td class="td_type" style="text-align: center;">[Department]</td>
								<td class="td_title">Loại nhân viên</td>
								<td class="td_type" style="text-align: center;">[Employee type]</td>
							</tr>
							<tr>
								<td class="td_title">Nhóm nhân viên</td>
								<td class="td_type" style="text-align: center;">[Post family]</td>
								<td class="td_title">Chức vụ</td>
								<td class="td_type" style="text-align: center;">[Rank]</td>
								<td class="td_title">Chức danh</td>
								<td class="td_type" style="text-align: center;">[Position]</td>
								<td class="td_title">Trạng thái</td>
								<td class="td_type" style="text-align: center;">[Employee office]</td>
							</tr>
						</table>

						<h4 class="thisPageStyle_pa0131" style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat;
						                                       margin-top:5px;">
						&nbsp;&nbsp;Thông tin nghỉ phép năm</h4>
						<table class="user_table" width="100%" style="margin-top:-20px">
							<tr>
								<td class="td_title" style="text-align: center;" width="10%">Tổng phép năm</td>
								<td class="td_title" style="text-align: center;" width="10%">Đã sử dụng</td>
								<td class="td_title" style="text-align: center;" width="10%">Còn lại</td>
							</tr>
								[Annual leave]
						</table>
						
						<h4 class="thisPageStyle_pa0131"
							style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat;margin-top:5px;">
							&nbsp;&nbsp;Tài khoản</h4>
						<table class="user_table" width="100%" style="margin-top:-20px">
							<tr>
								<td class="td_title" style="text-align: center;" width="13%">
									Ngân hàng</td>
								<td class="td_title" style="text-align: center;" width="13%">
									Tài khoản</td>
							</tr>
							[Bank Account]
						</table>
						
						<h4 class="thisPageStyle_pa0131"
							style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat;margin-top:5px;">
							&nbsp;&nbsp;Hạng mục tiêu chuẩn</h4>
						<table class="user_table" width="100%" style="margin-top:-20px">
							<tr>
								<td class="td_title" style="text-align: center;" width="13%">
									Hạng mục</td>
								<td class="td_title" style="text-align: center;" width="13%">
									Số tiền</td>
							</tr>
							[Basic project]
						</table>
						<div style="width: 100%; float: left; position: relative; top: 5px;">
							<table class="user_table"
								style="position: relative; bottom: 5px; height: 30px" width="100%">
								<tr>
									<td class="td_type" style="text-align: center;" width="50%">
										Tổng lương + Phụ cấp
									</td>
									<td class="td_type" style="text-align: right" width="50%">
										[Basic allowance]
									</td>
								</tr>
							</table>
						</div>
						
						<div style="width: 33%; float: left;margin-top:-18px">
							<h4 class="thisPageStyle_pa0131"
								style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat">
								&nbsp;&nbsp;Chấm công chi tiết</h4>
						</div>
						<div style="width: 33%; float: left;margin-top:-18px">
							<h4 class="thisPageStyle_pa0131"
								style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat">
								&nbsp;&nbsp;Lương chi tiết</h4>
						</div>
						<div style="width: 33%; float: left;margin-top:-18px">
							<h4 class="thisPageStyle_pa0131"
								style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat">
								&nbsp;&nbsp;Khoản trừ chi tiết</h4>
						</div>
						<div style="width: 33%;height: [maxHeightData]px; float: left; border: 1px solid #DBDBD8; left: 2px;margin-top:-20px;">
							<table class="user_table" width="100%" style = "border-left:hidden; border-right:hidden;">
								<tr>
									<td class="td_title" width="60%">Hạng mục chấm công</td>
									<td class="td_title">Giá trị</td>
								</tr>
								[Attendance detail]
							</table>
						</div>
						<div style="width: 33%;height: [maxHeightData]px; float: left; border: 1px solid #DBDBD8;margin-top:-20px;">
							<table class="user_table" width="100%" style = "border-left:hidden; border-right:hidden;">
								<tr>
									<td class="td_title" width="60%">Hạng mục</td>
									<td class="td_title">Số tiền</td>
								</tr>
								[Salary detail]
							</table>
						</div>
						<div style="width: 33%;height: [maxHeightData]px; float: left; border: 1px solid #DBDBD8;margin-top:-20px;">
							<table class="user_table" width="100%" style = "border-left:hidden; border-right:hidden;">
								<tr>
									<td class="td_title" width="60%">Hạng mục</td>
									<td class="td_title">Số tiền</td>
								</tr>
								[Deduction detail]
							</table>
						</div>
						<div style="width: 33%; float: left;">
							<table class="user_table" style="position: relative;" width="100%" height="100%">
								<tr>
									<td class="td_type" width="100%">&nbsp;</td>
								</tr>
							</table>
						</div>
						<div style="width: 33.5%; float: left; ">
							<table class="user_table" style="position: relative;" width="100%">
								<tr>
									<td class="td_type" width="60%" style="text-align: center;">Tổng lương</td>
									<td class="td_type" style="text-align: right;">[Total Pay]</td>
								</tr>
							</table>
						</div>
						<div style="width: 33.5%; float: left; ">
							<table class="user_table" style="position: relative;" width="100%">
								<tr>
									<td class="td_type" width="60%" style="text-align: center;">Tổng trừ</td>
									<td class="td_type" style="text-align: right;">[Total deduct]</td>
								</tr>
							</table>
						</div>
						<div style="width: 100%; float: left; position: relative;">
							<table class="user_table"
								style="position: relative; height: 30px" width="100%">
								<tr>
									<td class="td_type" style="text-align: center;" width="50%">Lương thực lĩnh</td>
									<td class="td_type" style="text-align: right" width="50%">[Actual payment]</td>
								</tr>
							</table>
						</div>
						<div style="width: 100%; float: left;margin-top:-15px;">
						<h4 class="thisPageStyle_pa0131"
								style="background-image: url('resources/css/dwzUI/themes/partner/images/li_prent.jpg'); background-repeat: no-repeat">
								&nbsp;&nbsp; Phúc lợi khác</h4>
							<table class="user_table" width="100%" style=" bottom: 10px;margin-top:-20px;">
								<tr>
									<td class="td_title" style="text-align: center;" width="50%">
										Ghi chú</td>
									<td class="td_title" style="text-align: center;" width="50%">
										Số tiền</td>
								</tr>
								[Other benefits]
							</table>
						</div>
						<div style="position:absolute;left:0px;bottom:2px;"><span style="font-size:14px">※ Mọi thắc mắc liên quan đến nội dung trên phiếu lương, vui lòng liên hệ phòng Nhân sự trước ngày 25 hàng tháng!</span></div>
   </div>
 </body>
</html>
